.btn-primary {
    background-color: #7E87D9 !important;
    border-color: #7E87D9 !important;
}

.btn-primary:hover {
    background-color: #7E87D9 !important;
    border-color: #7E87D9 !important;
}
